<div class="container my-3">
  <div class="row gy-3">
    <div class="col-sm-5">
      <div class="card border-success ">
        <p-galleria
          [value]="productDetails.images"
          [autoPlay]="true"
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
          [numVisible]="5"
          [containerStyle]="{ width: '100%' }"
        >
          <ng-template pTemplate="item" let-item>

              <img [src]="item" class="rounded-bottom-4 border-bottom border-success shadow-sm card-img-top w-100" />

          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
              <img loading="lazy" class="w-100" [src]="item" />
            </div>
          </ng-template>
        </p-galleria>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="card border-success ">
        <div
          class="caption bg-success-subtle text-dark rounded-bottom-4 card-header"
        >
          <h2 class="m-0">{{ productDetails.title }}</h2>
          <p class="small fw-light m-0">{{ productDetails.description }}</p>
        </div>
        <div class="card-body">
          <h3 class="m-0 fs-4 fw-semibold">
            <span class="text-success fs-3 fw-medium me-1">price:</span
            >{{ productDetails.price | currency }}
          </h3>
          <hr />
          <div class="d-flex align-items-center">
            <div
              class="btn border rounded-pill me-4 d-flex w-50 justify-content-between align-items-center"
            >
              <button class="btn fs-5 text-danger">-</button>
              <span class="text-success fs-5 fw-medium">1</span>
              <button class="btn fs-5 text-success">+</button>
            </div>
            <p class="m-0 fw-light">
              Only
              <span class="text-warning fw-medium">{{
                productDetails.quantity
              }}</span>
              left! <br />
              Don't miss it.
            </p>
          </div>
          <hr />
          <div class="d-flex">
            <button class="btn w-50 me-3 fs-5 rounded-pill btn-success">
              Buy Now
            </button>
            <button class="btn w-50 rounded-pill btn-outline-success">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div class="card border-success my-2">
        <div class="card-body">
          <div class="row">
            <div class="col-8 align-self-center">
              <h4 class="m-0 fs-5 fw-light">
                <span class="fs-4 text-success fs-6 fw-normal me-1"
                  >Category:</span
                >{{ productDetails.category.name }}
              </h4>
              <div class="my-3">
                <h4 class="m-0 fs-4">
                  <span class="me-1 text-success">Rating Average: </span>
                  <i class="pi fs-5 pi-heart-fill text-warning"
                    >{{ productDetails.ratingsAverage
                    }}<span class="text-muted fw-lighter fst-italic"
                      >({{ productDetails.ratingsQuantity }})</span
                    ></i
                  >
                </h4>
              </div>
              <hr class="w-75" />
            </div>
            <div class="col-4">
              <img
                loading="lazy"
                class="w-100"
                [src]="productDetails.brand.image"
                alt=""
              />
            </div>
            <button disabled class="btn fs-5 btn-outline-success w-100">
              Browse similar product
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
