<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand text-success" routerLink="/home">Shop Cart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/brands"> Brands</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link " routerLink="/products"> Products</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink=""
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Catigories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="">Action</a></li>
            <li><a class="dropdown-item" routerLink="">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>


        <!-- <input
          class="form-control w-50 mx-auto"
          type="search"
          placeholder="Search"
          aria-label="Search"
        /> -->

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="nav-link text-success" routerLink="/profile">
            <i class="pi pi-user" style="font-size: 1.1rem"></i>
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-success" routerLink="/Cart">
            <i class="pi pi-shopping-bag" style="font-size: 1.1rem"></i>
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-success" routerLink="/login">
            <i class="pi pi-sign-in" style="font-size: 1.2rem"> LogIn</i>
          </a>
        </li>
        <!-- <li class="nav-item mx-2">
          <a class="nav-link text-success" routerLink="/register">
            <i class="pi pi-user-plus" style="font-size: 1.2rem"> Register</i>

          </a>
        </li> -->
        <!-- <li class="nav-item mx-2">
          <a class="nav-link text-danger" >
            <i class="pi pi-sign-out" style="font-size: 1.1rem"> LogOut</i>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
