header{
  height: 80dvh !important;
  // background-position:    center;
  background-size: cover;
  overflow: hidden;
  background-image: url("../../../assets/images/2.jpg");
  // background-color: aqua;
}
