<div (click)="goDetails(product.id)" class="card border-success ">
  <div class="position-relative">
    <img
      loading="lazy"
      [src]="product.imageCover"
      class="card-img-top rounded-bottom-4 border-bottom border-success shadow-sm"
      [alt]="product.title"
    />
    <button class="btn position-absolute p-3 text-success top-0 end-0">
      <i class="pi pi-heart fs-4"></i>
    </button>
  </div>
  <div
    [pTooltip]="product.title"
    tooltipPosition="top"
    placeholder="Top"
    class="card-body"
  >
    <div
      class="d-flex my-2 fst-italic align-items-center justify-content-between"
    >
      <h5 class="card-title fs-5 fw-medium m-0 text-success">
        {{ product.title.split(" ").splice(0, 2).join(" ") }}
      </h5>

      <span class="text-muted fs-6 m-0">{{
        product.price | currency : "EGP "
      }}</span>
    </div>
    <div class="d-flex my-3 justify-content-between align-items-center">
      <p class="card-text m-0 text-muted">
        {{ product.brand.name.split(" ").splice(0, 2).join() }}
      </p>
      <div class="text-warning d-flex align-items-center">
        <i class="pi pi-heart-fill"></i
        ><span> ({{ product.ratingsAverage }})</span>
      </div>
    </div>

    <button
      (click)="addToCart($event, product.id)"
      class="btn w-100 btn-outline-success"
    >
      <i class="pi pi-cart-plus"></i>
      Add To Cart
    </button>
  </div>
</div>
<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'2000ms'"
  [showTransformOptions]="'translateX(100%)'"
></p-toast>
